@model IEnumerable<desafio_mvc.Models.Funcionario>

@{
    Layout = "_Layout";
}

<script>
    $(document).ready( function () {
    $('#historico').DataTable({
        "language": {
            "lengthMenu" : "Mostrando _MENU_ registros por pagina",
            "zeroRecords":  "Nada encontrado, desculpa",
            "info" : "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty" : "Nenhum registro disponivel",
            "search":   "Buscar:",
            "paginate": {
                "first":    "Primeiro",
                "last":     "Ultimo",
                "next":     "Proximo",
                "previous": "Anterior"
            }
        }
    });
    });
</script>

<h2 class="text-center">Historico</h2>
<hr/>

<table id="historico" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome </th> <!-- nome do funcionario -->
            <th>Matricula </th>
            <th>Cargo </th>
            <th>GFT </th>
            <th>Vaga</th>
            <th>Descricao</th> <!-- Decricao da vaga --> 
            <th>Tecnologia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var his in Model){
            <tr>
                <td>@his.Nome</td>
                <td>@his.Matricula</td>
                <td>@his.Cargo</td>
                <td>@his.Gft_Id.Nome</td>
                <td>@his.Vaga_Id.Codigo_vaga</td>
                <td>@his.Vaga_Id.Descricao_vaga</td>
                <td>@foreach (var tec in his.Vaga_Id.Tecnologias.Select(e => e.Tecnologia))
                {
                    @tec.Nome
                }</td>
            </tr>
        }
    </tbody>
</table>